{{ 'component-mobile-collections-slider.css' | asset_url | stylesheet_tag }}

<div class="mobile-collections-slider">
  <div class="mobile__container">

    <!-- Full-width images with number and caption text -->
    <div class="mobile-slide mobile__fade">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mobile-slide mobile__fade">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mobile-slide mobile__fade">
      <div class="text">Caption Three</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="mobile-prev" onclick="MobilePlusSlides(-1)">&#10094;</a>
    <a class="mobile-next" onclick="MobilePlusSlides(1)">&#10095;</a>
  </div>
</div>

<script>
  let MobileSlideIndex = 1;
  MobileShowSlides(MobileSlideIndex);

  // Next/previous controls
  function MobilePlusSlides(n) {
    MobileShowSlides(MobileSlideIndex += n);
  }

  // Thumbnail image controls
  function MobileCurrentSlide(n) {
    MobileShowSlides(MobileSlideIndex = n);
  }

  function MobileShowSlides(n) {
    let i;
    let MobileSlides = document.getElementsByClassName("mobile-slide");
    if (n > MobileSlides.length) {MobileSlideIndex = 1}
    if (n < 1) {MobileSlideIndex = MobileSlides.length}
    for (i = 0; i < MobileSlides.length; i++) {
      MobileSlides[i].style.display = "none";
    }
    MobileSlides[MobileSlideIndex-1].style.display = "block";
  }
</script>