{{ 'section-collections-slider.css' | asset_url | stylesheet_tag }}

<div class="collections-slider">
  <div class="collections-slider__mobile">
    {% include 'mobile-collections-slider' %}
  </div>

  <div class="collections-slider__tablet">
    {% include 'tablet-collections-slider' %}
  </div>

  <div class="collections-slider__desktop">
    {% include 'desktop-collections-slider' %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection Slider",
    "tag": "section",
    "presets": [
      {
        "name": "collections-slider"        
      }
    ]
  }
{% endschema %}