{{ 'section-collections-slider.css' | asset_url | stylesheet_tag }}

<div class="collections-slider">Collections slider</div>

{% schema %}
  {
    "name": "Collection Slider",
    "tag": "section",
    "class": "collections-slider",
    "presets": [
      {
        "name": "collections-slider"        
      }
    ]
  }
{% endschema %}