{{ 'section-collections-slider.css' | asset_url | stylesheet_tag }}

<div class="collections-slider">
  
</div>

{% schema %}
  {
    "name": "Collection Slider",
    "tag": "section",
    "presets": [
      {
        "name": "collections-slider"        
      }
    ]
  }
{% endschema %}