{{ 'section-product-slideshow.css' | asset_url | stylesheet_tag }}

<div class="product-slideshow">
  <div class="mobile-product-slideshow">
    {% include 'mobile-product-slideshow' %}
  </div>

  <div class="desktop-product-slideshow">
    {% include 'desktop-product-slideshow' %}
  </div>
</div>



{% schema %}
  {
    "name": "Product Slideshow",
    "tag": "section",
    "class": "product-slideshow",
    "presets": [
      {
        "name": "product-slideshow"
      }
    ]
  }
{% endschema %}