.mobile-product-slideshow {
  background-color: #3fc1b1;
}

* {box-sizing:border-box}

/* Slideshow container */
.mobile-product-slideshow > .mobile-product-slideshow__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide {
  display: none;
}

.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide > .product-image {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide > .product-image > img {
  object-fit: contain;
}

.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide > .product-info {
  text-align: center;
}

.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide > .product-info > .product-info__title {
  color: white;
  font-size: 5rem;
  padding: 0 3rem;
  text-align: start;
  margin-bottom: 0;
  line-height: 45px;
  max-width: 320px;
}

.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide > .product-info > .product-info__description {
  text-align: start;
  padding: 0 3rem;
  color: white;
  margin-bottom: 3rem;
  max-width: 414px;
}

.mobile-product-slideshow > .mobile-product-slideshow__container > .mobile-product-slide > .product-info > a > button {
  border: 3px solid white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 25px;
  background-color: transparent;
  color: white;
  font-family: "BebasNeue";
  letter-spacing: 1px;
  padding: 0.5rem 2.5rem;
  margin-bottom: 2rem;
}

/* Next & previous buttons */
.mobile-product-slideshow > .mobile-product-slideshow__container > .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.mobile-product-slideshow > .mobile-product-slideshow__container > .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.mobile-product-slideshow > .mobile-product-slideshow__container > .prev:hover, .product-slideshow > .slideshow-container > .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 3rem;
}

.active, .dot:hover {
  background-color: white;
  opacity: 0.3;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}